:root {
  --title-text-color: #212121;
  --primer-text-color: #757575;
  --accent-color: #2196f3;
  --primary-bg-color: #f5f4fa;
  --color-white: #ffffff;
  --color-fons: #2f303a;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  color: var(--title-text-color);
  background-color: var(--color-white);
  font-family: Roboto, sans-serif;
}

input,
body,
h1,
h2,
h3,
p,
ul {
  margin: 0px;
  padding: 0px;
}

.list {
  list-style: none;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 1200px;

  /*outline: 2px solid blue; */
}

.section {
  padding: 94px 0px;
}

.text__transporent {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/*---------------header---------------*/

.header__cointainer {
  display: flex;
}

.header {
  border-bottom: 1px solid #ececec;
}

.logo{
  text-decoration: none;
}

.logo--header {
  margin-top: 24px;
  margin-bottom: 25px;
  margin-right: 93px;
}

.logo__web {
  color: var(--accent-color);

  font-family: Raleway, cursive;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo__studio {
  color: #000000;

  font-family: Raleway, cursive;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

/*-------------сайтовая навигация-------------*/

.header__link {
  color: var(--title-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.02em;

  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;

  text-decoration: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__nav {
  margin-right: auto;
}

.header__nav-block {
  display: flex;
  padding-left: 0px;
}

.header__link:hover,
.header__link:focus {
  color: var(--accent-color);
}


.header__item:not(:last-child) {
  margin-right: 50px;
}

.header__mail {
  margin-right: 30px;
}

.header__portfolio {
  position: relative;
  color: var(--accent-color);
}

.header__portfolio::after {
  position: absolute;
  bottom: 0;
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.header__studio {
  position: relative;
  color: var(--accent-color);
}

.header__studio::after {
  position: absolute;
  bottom: -1px;
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.header__contact {
  display: flex;
  padding-left: 0px;
}

.header__link--contakt {
  color: var(--primer-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  align-items: center;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__link--contakt:hover,
.header__link--contakt:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}

.header__icon {
  width: 16px;
  height: 12px;
  --icon-color: currentColor;
  margin-right: 10px;
}

.header__mail {
  fill: var(--primer-text-color);
}

/*---------------герой---------------*/

.hero__blok {
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero {
  padding-top: 0px;
  padding-bottom: 0px;
  text-align: center;
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-fon-min.jpg);
  background-color: #c4c4c4;
  background-position: center;
  background-size: cover;
}

.hero__title {
  color: var(--color-white);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  margin-bottom: 30px;
}

/*---------------описание преимуществ*/

.positive-features__fon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  width: 270px;
  height: 120px;
  background-color: var(--primary-bg-color);
}

.positive-features__svg {
  width: 70px;
  height: 70px;
}

.positive-features {
  padding-bottom: 0px;
}

.positive-features__item {
  display: flex;
  justify-content: space-between;
}

.positive-features_item :not(:last-child) {
  margin-right: 30px;
}

.positive-features__paragraph {
  width: 270px;
}

.positive-features__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.positive-features__text {
  color: var(--primer-text-color);

  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.positive-features__icon {
  display: flex;
  justify-content: space-between;
}

/*---------------секций занятий----------*/

.work__name,
.team__development,
.clients__text {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.67;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 50px;
}

.work__box {
  display: flex;
  justify-content: space-between;
}

.work__item {
  position: relative;
}

.work__text {
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, 0%);
  padding-bottom: 27px;
  min-width: 205px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: #ffffff;
  z-index: 1;
}

.work__item::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color: rgb(47, 48, 58, 0.8);
}

/*--------------сотрудники---------------*/

.team__block {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.team__text {
  padding-top: 30px;
}

.team__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.team__position {
  color: var(--primer-text-color);

  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  margin-top: 10px;
}

.social__svg {
  width: 20px;
  height: 20px;
  --icon-color: currentColor;
}

.social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  fill: #afb1b8;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social__link:hover,
.social__link:focus {
  background-color: var(--accent-color);
  fill: var(--color-white);
  outline: none;
}

.social__block {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.social {
  margin-bottom: 30px;
  margin-left: 32px;
  margin-right: 32px;
  margin-top: 10px;
}

.social__network {
  display: flex;
  justify-content: space-between;
}

.team{
  background-color: var(--primary-bg-color);
}

.team__foto {
  background-color: var(--color-white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

/* ---------------Секция клиентов ------------*/

.client__block {
  display: flex;
  justify-content: space-between;
}

.client__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  fill: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client__link:hover,
.client__link:focus {
  fill: var(--accent-color);
  border: 1px solid var(--accent-color);
  outline: none;
}

.client__icon{
  width: 106px;
  height: 60px;
}

/*---------------кнопки---------------*/

.selection-buttons__job {
  color: var(--title-text-color);
  background-color: var(--primary-bg-color);
  display: inline-block;
  min-width: 73px;

  cursor: pointer;
  border-radius: 4px;
  border: 0px;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  text-align: center;
  padding: 6px 22px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.selection-buttons__job:hover,
.selection-buttons__job:focus {
  color: var(--color-white);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.hero__button {
  color: var(--color-white);
  background-color: var(--accent-color);
  display: inline-block;
  min-width: 136px;

  cursor: pointer;
  border-radius: 4px;
  border: 0px;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  padding: 10px 32px;
}

/*---------------footer---------------*/

.footer {
  background-color: var(--color-fons);
  padding: 60px 0;
  display: block;
}

.footer__container {
  display: flex;
}

.footer__title {
  color: var(--color-white);

  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-top: 20px;
}

.footer__item {
  padding-top: 9px;
}

.logo__studio-footer {
  font-family: Raleway, cursive;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: var(--color-white);
}

.footer__link {
  color: rgb(255, 255, 255, 60%);

  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  text-decoration: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.foter__link:focus,
.footer__link:hover {
  color: var(--accent-color);
}

.address {
  font-style: normal;
  width: 229px;
}

.foter__addres-blokc {
  padding-left: 0px;
}


.footer__slogan {
  display: flex;
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--color-white);
}

.footer__social-network {
  margin-left: 70px;
  padding-top: 12px;
  margin-right: 93px;
}

.social-network__items {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
}

.social-network__items:nth-child(-n + 3) {
  margin-right: 10px;
}

.social-network__link {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 44px;
  height: 44px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-network__link:hover,
.social-network__link:focus {
  background-color: var(--accent-color);
}

.social-network__icon {
  width: 20px;
  height: 20px;
  fill: var(--color-white);
}


.footer__form{
  padding-top: 12px;
}

.footer__email{
  width: 358px;
  height: 50px;
  margin-right: 10px;
  padding-left: 16px;
  background-color: #2F303A;

  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--color-white);
}


.footer__button{
  position: relative;
  width: 200px;
  height: 50px;
  padding: 0;
  margin: 0;

  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0px;
}

  .footer__text-button{
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--color-white);
  margin-right: 32px;

}

.footer__button-icon{
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 13px;
  margin-right: 28px;
  
  width: 24px;
  height: 24px;
}

/*---------------portfolio---------------*/

.selection-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.project__item:nth-child(3n) {
  margin-right: 0px;
}
.project__item:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}

/* .project{
  display: flex;
  flex-basis: calc((100% - 3* 30px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

} */

.selection-buttons__item:not(:last-child) {
  margin-right: 8px;
}

.project {
  display: flex;
  flex-wrap: wrap;
  /* flex-basis: calc((100% - 9* 30px) /9); */
  padding-left: 0px;
/*   margin-right: -30px;
  margin-bottom: -30px; */
}

.project__item {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project__item:hover,
.project__item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project__name {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project__description {
  color: var(--primer-text-color);

  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}

.project__text {
  padding: 20px 24px;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.project__link {
  text-decoration: none;
}

.portfolio-img__icon {
  display: block;
  max-width: 370px;
  height: auto;
}

.portfolio-img {
  display: block;
  position: relative;
  overflow: hidden;
}

.portfolio-img::before {
  position: absolute;
  display: inline-block;
  content: "";
  width: 370px;
  height: 294px;
  background-color: rgba(33, 150, 243, 0.9);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  transform: translateY(404px);
}

.portfolio-img__title {
  position: absolute;
  display: flex;
  top: 0%;
  left: 50%;
  transform: translate(-50%, 404px);

  min-width: 322px;
  margin-top: 63px;

  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  color: var(--color-white);
}

.project__item:hover .portfolio-img::before,
.project__item:focus .portfolio-img::before {
  transform: translateY(0%);
}

.project__item:focus .portfolio-img__title,
.project__item:hover .portfolio-img__title {
  transform: translate(-50%, 0);
}

/*  --------------<!-- Модальное окно  --> --------------------------*/

.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) skew(0deg, 0deg);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  width: 528px;
  height: 581px;
  background-color: #fff;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  overflow: visible;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) skew(30deg, 20deg);
}

.button-modal:hover{
  fill: var(--accent-color);
  border-color: var(--accent-color);
}

.button-modal {
  position: absolute;
  right: 0%;
  margin-top: 8px;
  margin-right: 8px;
  padding: 0;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
  border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form{
  display: flex;
  /* outline: 1px solid coral; */
  width: 448px;
  margin: 40px;
  flex-direction: column;
}

.form__text{
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color:rgba(33, 33, 33, 1);

  margin-bottom: 12px
  ;
}

.form__label{
  display: flex;
  position: relative;
  flex-direction: column;
  margin-top: 10px;
}

.form__svg{
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__label:focus-within > .form__svg{
  fill: var(--accent-color);
}

.form__label:focus-within >.form__input{
    border: 2px solid var(--accent-color);
    outline: 0;
    outline-offset: 0;
  }

.form__label:focus-within > .form__textarea{
    border: 2px solid var(--accent-color);
    outline: 0;
    outline-offset: 0;
}


.form__textarea{
  height:120px ;
  padding: 12px 16px;
  resize: none; 
  cursor: pointer;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.form__input{
  height: 40px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.checkbox__imput{
  position: absolute;
  appearance: none;
}

.checkbox__icon{
  border: 2px solid var(--title-text-color);
  border-radius: 4px;
  margin-right: 8px;
  width: 16px;
  height: 15px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  background-image 250ms cubic-bezier(0.4, 0, 0.2, 1),
  background-size 250ms cubic-bezier(0.4, 0, 0.2, 1),
  backgroud-origin 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.checkbox__imput:checked +.checkbox__icon{
  border-color: var(--accent-color);
  background-color: var(--accent-color);
  background-image: url('../images/icon.svg');
  background-size: contain;
  background-origin: border-box;
}


.checkbox__text{
  display: flex;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;

color: #757575;
}


.form__button{
  width: 200px;
  height: 50px;
  margin-top: 30px;
  margin-left: 124px;
  cursor: pointer;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--color-white);


  background: #188CE8;
  border: 0;
  border-radius: 4px;
}

.form__name{
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.6666;
  letter-spacing: 0.01em;
  color: #757575;
}

.form__svg{
  position: absolute;
  bottom: 0;
  left: 0;
  margin-bottom: 11px;
  margin-left:12px;
  width: 18px;
  height: 18px;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop__svg{
  margin-top: 4px;
  width: 18px;
  height: 18px;
}

.checkbox__agreement{
  padding-left: 5px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration-line: underline;

  color: #2196F3;
}