$title-text-color:#212121;
$primer-text-color:#757575;
$accent-color: #2196f3;
$primary-bg-color: #f5f4fa;
$color-white: #ffffff;
$color-fons: #2f303a;

/* ----------------------------------Logo text------------------------------------------------- */

$text-logo:Raleway, cursive;
$text-logo-size: 26px;
$text-logo-height: 1.19;
$text-logo-spacing: 0.03em;